
src/web/backend/FinalPaper/FinalPaper.Infrastructure/obj/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Migration/bin/Debug/net6.0/

*.dll

src/web/backend/FinalPaper/FinalPaper.Api/bin/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Api/obj/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Domain/bin/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Domain/obj/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Infrastructure/bin/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Api/obj/

src/web/backend/FinalPaper/FinalPaper.Migration/obj/Debug/net6.0/

src/web/backend/FinalPaper/FinalPaper.Migration/obj/

src/web/backend/FinalPaper/obj/
