
src/web/backend/FinalPaper/FinalPaper.Infrastructure/obj/

src/web/backend/FinalPaper/FinalPaper.Infrastructure/bin/

src/web/backend/FinalPaper/FinalPaper.Api/obj/

src/web/backend/FinalPaper/FinalPaper.Api/bin/

src/web/backend/FinalPaper/FinalPaper.Migration/obj/

src/web/backend/FinalPaper/FinalPaper.Migration/bin/

src/web/backend/FinalPaper/FinalPaper.Domain/obj/

src/web/backend/FinalPaper/FinalPaper.Domain/bin/

src/web/backend/FinalPaper/FinalPaper.Command/obj/

src/web/backend/FinalPaper/FinalPaper.Command/bin/

src/web/backend/FinalPaper/FinalPaper.Query/obj/

src/web/backend/FinalPaper/FinalPaper.Query/bin/

*.dll

src/web/backend/FinalPaper/obj/

*.targets

*.cache

*.editorconfig

*.props


*.info

*.pdb

src/web/backend/FinalPaper/FinalPaper.Api/Properties/launchSettings.json
